.MuiContainer-root,
.MuiTypography-root {
  padding: 1rem;
}

.MuiTypography-root.MuiTypography-body1,
.MuiTypography-root.MuiTypography-body2,
.MuiTypography-root.MuiTypography-overline {
  padding: 0;
}

.MuiInput-root,
.MuiButton-root {
  margin: 2rem;
}

.MuiButton-root {
  max-width: 250px;
}
